<h2 class="homepageH2 animate__animated animate__rubberBand">Welcome to Slinky World</h2>
<div class="slinkyDogimage">

    <img src="images/logo1.png" class="img-fluid logo-home" alt="World with a slinky around it">
</div>

<div class="container">
    <div class="row card">
        <h3>Home of the Slinky Spots!</h3>
        <p>
            Have you ever marveled at the mesmerizing dance of a slinky as it gracefully descends the stairs, and
            thought, "This is the most exhilarating experience ever!"? Well, you're in for a treat! Welcome to Slinky
            World, where the joy of watching a slinky race down the stairs transforms into an extraordinary community
            experience.</p>
        <h3>Discover the Thrill:</h3>
        <p>
            Discover our curated list of the most thrilling and captivating staircases around the world. We
            call them Slinky Spots, and each one is a stage for your slinky to shine. Get ready for an adrenaline rush
            as you witness the sheer excitement of your slinky conquering these iconic descents!
        </p>
        <h3>Record Your Speed & Share Your Stories:</h3>
    <p>
        Turn each descent into a heart-pounding adventure by recording your fastest times! We call each run down the stais a slinky "Wave". Challenge yourself, beat your own records, and become the Slinky Speed Champion. The thrill of each wave is only matched by the anticipation of the next! From heart-pounding descents to hilarious mishaps, every slinky journey is a story waiting to be told. Connect with the amazing Slinky World community, swap tips and tricks, and revel in the joy of being part of something truly unique.
    </p>
    
 <h3>Connect with the Slinky Community:</h3>
    <p>
        Slinky World isn't just a website; it's a vibrant community of slinky fans from across the globe. Engage in conversations, exchange tips on the perfect staircase, and build lasting connections with fellow slinky enthusiasts. Whether you're a seasoned slinky veteran or just starting your journey, everyone is welcome in our exciting, spring-loaded world.
    </p>

    <button class="btn btn-primary btn-signup" onclick="window.location.href='/signup';">
            Join Today!
        </button>



    </div>

</div>
{{!-- <ul>
    {{#each spots}}
    <li>
        <h2>{{this.spot_name}}</h2>
        <p>{{this.description}}</p>
        <!-- Display more spot details as needed -->
    </li>
    {{/each}}
</ul> --}}
</body>

</html>