<h1>Places</h1>
<ul>
    {{#each locations}}
    <li>{{ name }} - {{ description }}</li>
    {{/each}}
</ul>

<h2>Add a New Place</h2>
<form action="/places" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" required><br>
    <button type="submit">Submit</button>
</form>

<div id="map"></div>
