{{!-- THis will be --}}


<div class="profileContainer">
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Bio: {{ user.bio }}</p>
    <p>Fastest slink: {{user.time}}</p>
</div>