/* This root could be used for a color pallete. */
:root {
    --primary: #32373B;
    --secondary: #6A8D73;
    --tertiary: #D7F5CC;
    --quatrinary: #F77F00;
    --light: #F2F5EA;
    --dark: #182c23;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: var(--light);
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--light);
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    margin-top: 20px;
}

h1,
h2,
h3 {
    margin-left: 15px;

}



/* Header styles */
.header {
    background-color: var(--quatrinary);
    color: var(--light);
    /* text color */
    padding: 0px;
    text-align: center;
}

/* Navigation styles */

/* Set padding on navbar */
.navbar {
    padding: 4px;
    display: block;
    background-color: var(--quatrinary);
    list-style: none;
}

/* Style navbar brand */
.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
    margin-left: 20px;
    margin-right: 50px;
    list-style: none;
    padding: 30px;
}

.nav-brand-logo {
    margin-left: -3%;
    margin-top: 10px;
}

/* Style navbar links */
.navbar-nav .nav-item .nav-link {
    color: var(--primary);
    /* Change color of links */
    font-size: 18px;
    /* Change font size of links */
    margin-right: 50px;


    font-weight: bold;
    display: flex;
    /* Use flexbox */
    justify-content: flex-end;
    /* Align nav-items to the right */
    align-items: center;
    /* Align items vertically */
    list-style: none;

}

.navbar-nav {
    margin-left: 10%;
}

.navbar-nav .nav-item a {
    list-style-type: none;

}



/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    margin-top: 5px;
}

button[type="submit"] {
    background-color: var(--primary);
    /*  button color */
    color: var(--light);
    /*  button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: var(--quatrinary);
    /* hover button color */
}

.error {
    color: var(--error);
}

/*spot styles*/
.spot-form {
    max-width: 1000px;
    /* Set maximum width for the form */
    margin: 0 auto;
    /* Center the form horizontally */
    padding: 20px;
    /* Add padding for spacing */
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    background-color: var(--light);
}

.spot-formh1 {
    color: var(--primary);
    margin-left: 60px;
}

.spot-formh2 {
    margin: 0 0 20px 40%;
    /* Add margin to separate from form */
    color: var(--primary);
    /* Adjust text color */
}

.spot-form .form-group {
    margin-bottom: 20px;
}

.spot-form label {
    display: block;
    margin-bottom: 5px;
    color: var(--primary);
    /* Adjust label text color */
}

.spot-form input[type="text"] {
    width: calc(100% - 22px);
    /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    margin-top: 5px;
}

.spot-form button[type="submit"] {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spot-form button[type="submit"]:hover {
    background-color: var(--quatrinary);
}

/*spot detail styles*/
.spotDetails-form {
    max-width: 1000px;
    /* Set maximum width for the form */
    margin-left: 15%;
    /* Center the form horizontally */
    padding: 20px;
    /* Add padding for spacing */
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    background-color: var(--light);
}



.wavesh2 {
    margin-left: 40%;
    /* Add margin to separate from form */
    color: var(--primary);
    /* Adjust text color */
}

.waveDetail-p {
    margin-left: 36%;
    color: var(--primary)
}

.noWave-p {
    margin-left: 35%;
}

.addWaveh3 {
    margin-left: 0%;
}


.spotNameh1 {
    margin-left: 0%;
}

.spot-form input[type="text"] {
    width: calc(100% - 22px);
    /* Adjust width to account for padding and border */
    padding: 10px;
    border: 1px solid var(--tertiary);
    border-radius: 5px;
    margin-top: 5px;
}

.spot-form button[type="submit"] {
    background-color: var(--primary);
    color: var(--light);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.spot-form button[type="submit"]:hover {
    background-color: var(--quatrinary);
}

.homepageH2 {
    margin-left: 43%;
}